# Copy to .env and fill in the real values.
APOLLO_API_KEY=
APOLLO_API_KEY_2=
APP_PASSWORD=
APP_USERNAME=
GEMINI_API_KEY=
MONGODB_URI=
MS_CLIENT_ID=
MS_TENANT_ID=
SERPER_API_KEY=
SESSION_SECRET=
SMTP_PASSWORD=
SMTP_SENDER_EMAIL=
