<table cellpadding="0" cellspacing="0" border="0" style="font-family:Calibri,Arial,sans-serif;">

<tr>
<td colspan="2" style="padding-bottom:12px;">
<img src="cid:regards" width="100" style="display:block;">
</td>
</tr>

<tr>

<td width="92" valign="top" style="padding-top:25px;">

    <a href="https://valasys.com">
        <img src="cid:logo"
            width="100"
            style="display:block;">
    </a>

</td>

<td valign="top" style="padding-left:18px;">

<div style="
font-size:18px;
font-weight:bold;
color:#f58220;
line-height:1;
">
Rameshwar Thakur
</div>

<div style="
font-size:15px;
font-weight:bold;
color:#333;
margin-top:6px;
">
Sales Lead – Valasys Media
</div>

<div style="
height:3px;
background:#f58220;
margin:14px 0 12px 0;
width:745px;
">
</div>

<table cellpadding="0" cellspacing="0" border="0"
    style="font-size:12px; line-height:1.8; color:#333;">

    <!-- Phone + Website -->
    <tr>
        <td>
            <span style="color:#f58220;">Phone</span>
            <a href="tel:995-3216-767"
            style="color:#555;text-decoration:none;margin-left:6px;">
                995-3216-767
            </a>

            <span style="display:inline-block;width:24px;"></span>

            <span style="color:#f58220;">Website</span>
            <a href="https://valasys.com"
            style="color:#555;text-decoration:underline;margin-left:6px;">
                valasys.com
            </a>
        </td>
    </tr>

    <!-- Email -->
    <tr>
        <td>
            <span style="color:#f58220;">Email</span>
            <a href="mailto:rameshwar@valasys.com"
            style="color:#555;text-decoration:underline;margin-left:6px;">
                rameshwar@valasys.com
            </a>
        </td>
    </tr>

    <!-- Address -->
    <tr>
        <td>
            <span style="color:#f58220;">Address</span>
            <span style="margin-left:6px;">
                Office 801, 8th Floor, Cerebrum IT Park- B3,
                Kalyani Nagar, Pune, 411014
            </span>
        </td>
    </tr>

</table>

<div style="margin-top:18px;">

<a href="https://www.pinterest.com/valasysmedia/">
<img src="cid:pinterest" width="25">
</a>

<a href="https://www.youtube.com/@ValasysMedia">
<img src="cid:youtube" width="25">
</a>

<a href="https://www.facebook.com/ValasysMedia">
<img src="cid:facebook" width="25">
</a>

<a href="https://www.instagram.com/valasysmedia/">
<img src="cid:instagram" width="25">
</a>

<a href="https://www.linkedin.com/company/valasys-media/">
<img src="cid:linkedin" width="25">
</a>

<a href="https://x.com/ValasysB2B">
<img src="cid:x" width="25">
</a>

</div>
</td>

</tr>

</table>
<div style="margin-top:18px;">
<img src="cid:awards"
width="650"
style="display:block;">
</div>